@charset "utf-8";
table caption, em {font-weight:normal; font-style:normal; display: none !important;}
/* 공지사항 */
.third_contents { border-top:#d5d5d5 solid 1px; background:#efefef; width:100%; }
.boardZone { float:none; *zoom:1; max-width:1200px; min-width:1000px; margin:0 auto; }
.boardZone:after { content:""; display:block; clear:both; height:0; }
.boardZone .notizone { float:left; width:50%; *width:46%; *padding:40px 3% 30px 0; padding:40px 40px 30px 0px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;  position:relative; }
.boardZone .notizone .btn_more { position:absolute; right:40px; top:40px; }

.boardZone .IRzone { float:left; width:50%; *width:45.6%; *padding:40px 0 30px 3%; padding:40px 0px 30px 40px; border-left:#d5d5d5 solid 1px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;  position:relative; }
.boardZone .IRzone .btn_more { position:absolute; right:0px; top:40px; }

.boardZone h2 { margin-bottom:15px; }
.boardZone .noti_list { margin-top:21px; width:100%; }
.boardZone .noti_list li { background:url(../images/main/bu_dot.gif) no-repeat left 5px; float:none; *zoom:1; width:100%; line-height:15px; margin-bottom:7px; height:15px; }
.boardZone .noti_list li a { vertical-align:middle; padding-left:10px; float:left; max-width:400px; *width:auto!important; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; display:inline-block; line-height:15px; color:#787878; *zoom:1; *display:inline; }
.boardZone .noti_list li:after { content:""; display:block; clear:both; height:0; }
.boardZone .noti_list .date { float:right; color:#898989; font-family:Tahoma, Geneva, sans-serif; font-size:11px; width:75px; text-align:right; line-height:15px; letter-spacing:0; padding-right:4px; }
.boardZone .noti_list .new { float:left; line-height:15px; height:9px; width:9px; padding:3px 0 3px; display:block; }
.boardZone .noti_list .new img { vertical-align:middle; padding-left:6px; margin-bottom:3px; }

/******************버튼모음********************/
.btn_white_B01 { min-width:90px; background:url(../images/common/bg_btn_graytop.gif) repeat-x; border:#bdc3d1 solid 1px; border-radius:2px; padding:9px 10px 7px; font-weight:normal; font-size:12px; letter-spacing:-0.05em; vertical-align:middle; display:inline-block; text-align:center; line-height:1; box-sizing:border-box; }
.btn_blue_B01 { min-width:90px; background:url(../images/common/bg_btn_bluetop.gif) repeat-x #45628a; border:#253c5f solid 1px; border-radius:2px; color:#fff; padding:9px 10px 7px; font-weight:normal; font-size:12px; letter-spacing:-0.05em; vertical-align:middle; display:inline-block; text-align:center; line-height:1; box-sizing:border-box; }
.btn_b_search { background:#595959; font-weight:bold; color:#fff; border:#484848 solid 1px; height:28px; box-sizing:border-box; display:inline-block; font-size:12px; }

/*등록시 첨부파일*/
.addFileList { padding:0px!important; font-family:"돋움",Dotum,"굴림",Gulim,arial,sans-serif; }
.addFileList .fileList { padding:0px 15px 10px; }
.addFileList .fileList li { background:url(../images/common/bg_list_square.gif) no-repeat 2px 9px; padding-left:10px; text-align:left; vertical-align:middle; }
.addFileList .fileList li a { vertical-align:middle; line-height:18px; color:#555; display:inline-block; }
.addFileList .fileList li span { vertical-align:middle; color:#979c9f; margin-left:10px; }

.addFileList .posi_btn { padding:10px 15px; }
.addFileList .btn_addFile { background:url(../images/common/bg_btn_gray.gif) repeat-x; height:26px; letter-spacing:-0.1em; vertical-align:middle; box-sizing:border-box; border-radius:2px; border:solid #c4c4c4 1px; padding:4px 10px 6px; line-height:16px;  font-family:"돋움",Dotum,"굴림",Gulim,arial,sans-serif; color:#666; }

/* report regist btn*/
.addFileList .posi_btn2 { padding:15px 15px 10px 15px; }
.addFileList .posi_btn2 input { display:none; }
.addFileList .btn_addFile2 { background:url(../images/common/bg_btn_gray.gif) repeat-x; height:26px; letter-spacing:-0.1em; vertical-align:middle; box-sizing:border-box; border-radius:2px; border:solid #c4c4c4 1px; padding:6px 12px 4px; line-height:16px;  font-family:"돋움",Dotum,"굴림",Gulim,arial,sans-serif; color:#666; }

.fileDelete { background:url(../images/common/btn_delete_01.gif) no-repeat 0 0; width:12px; height:11px; margin-left:10px; vertical-align:middle; }
.fileDelete em { visibility:hidden; }
.fileDelete:hover, .fileDelete:focus { background:url(../images/common/btn_delete_01.gif) no-repeat left; }
.file_notice { border-top:#cfcfcf dashed 1px; padding:10px 15px 10px 16px; color:#838383; }

/***************************************************** 탭(admin) *********************************************************/
.gtabZone { float:none; *zoom:1; height:54px; overflow:hidden; }
.gtabZone:after { content:""; display:inline-block; clear:both; height:0; }
.gtabZone li { float:left; border-right:solid #aeaeae 1px; border-top:solid #aeaeae 1px; border-bottom:solid #aeaeae 1px; box-sizing:border-box; background:#fff; }
.gtabZone li:first-child a { border-left:solid #aeaeae 1px; }
.gtabZone li a { color:#81878e; font-size:14px; vertical-align:middle; width:100%; font-family:'NanumBarun'; display:block; text-align:center; padding:14px 0; line-height:18px; }
.gtabZone li.on { border:none; background:#2863c4; margin-left:-1px; border-right:#2863c4 solid 1px; position:relative; }
.gtabZone li.on a { color:#ffffff; padding:15px 0; }
.gtabZone li.on .point { border-left:#fff solid 6px; border-right:#fff solid 6px; border-top:#2863c4 solid 6px; width:0px; height:6px; position:absolute; left:50%; margin-left:-3px; top:48px; z-index:1; overflow:hidden; }
.count_n02 li { width:50%; }
.count_n06 li { width:16.66%; }
.count_n11 li { width:9.09%;}
.count_n12 li { width:8.33%;}
/***************************************************** 더보기 버튼(admin) *********************************************************/
.btn_board { background:url(../images/mypage/btn_board_more.gif) no-repeat; width:60px; height:22px; display:inline-block; right:1px; top:-1px; }
.btn_board em { font-size:0; visibility:hidden; }

.search_option { background:#f7f7f7; border-bottom:#e0e0e0 solid 1px; text-align:center; padding:20px 20px 10px; }
.search_option .btn_push_st01 { float:none; display:inline-block; }
.search_option .btn_push_st01:after { content:""; display:block; clear:both; height:0; }
.search_option a { float:left; }

/*푸쉬버튼*/
.btn_push_st01 { margin-left:10px; }
.btn_push_st01 a, .btn_push_st01 a font { display:inline-block; vertical-align:middle; color:#838383; font-family:dotum, "돋움", sans-serif; overflow:hidden; }
.btn_push_st01 a font {  padding:5px 8px 8px; }
.btn_push_st01 a.on font { font-weight:bold; color:#555; }

.btn_push_st01 .single { background:url(../images/common/btn_push_st01_l.gif) no-repeat left 0; }
.btn_push_st01 .single font { background:url(../images/common/btn_push_st01_r2.gif) no-repeat right 0; padding:5px 10px 8px; }
.btn_push_st01 .single.on { background:url(../images/common/btn_push_st01_l_on.gif) no-repeat; }
.btn_push_st01 .single.on font { background:url(../images/common/btn_push_st01_r_on2.gif) no-repeat right 0; padding:5px 10px 8px; }

.btn_push_st01 .left { background:url(../images/common/btn_push_st01_l.gif) no-repeat left 0;  }
.btn_push_st01 .left font { background:url(../images/common/btn_push_st01_l2.gif) no-repeat right 0; padding:5px 8px 8px 10px; }
.btn_push_st01 .middle { background:url(../images/common/btn_push_st01_m.gif) repeat-x left 0; }
.btn_push_st01 .middle font { background:url(../images/common/btn_push_st01_l2.gif) no-repeat right 0; }
.btn_push_st01 .right { background:url(../images/common/btn_push_st01_r.gif) no-repeat right 0; }
.btn_push_st01 .right font {  padding:5px 10px 8px 8px; }

.btn_push_st01 .left.on { background:url(../images/common/btn_push_st01_l_on.gif) no-repeat; }
.btn_push_st01 .left.on font { background:url(../images/common/btn_push_st01_l2_on.gif) no-repeat right 0; }
.btn_push_st01 .middle.on { background:url(../images/common/btn_push_st01_m_on.gif) repeat-x; }
.btn_push_st01 .middle.on font { background:url(../images/common/btn_push_st01_l2_on.gif) no-repeat right 0; }
.btn_push_st01 .right.on { background:url(../images/common/btn_push_st01_r_on.gif) no-repeat right 0; }
.btn_push_st01 .right.on font { background:url(../images/common/btn_push_st01_r2_on.gif) no-repeat left 0; }


/******************인풋, 셀렉트모음********************/
.textarea_basic { width:100%; border:#b5b5b5 solid 1px; box-sizing:border-box; font-size:12px; letter-spacing:-0.05em; color:#787878; padding:5px; line-height:18px; height:82px; }
.input_s_b_b { border:#b5b5b5 solid 1px; vertical-align:middle; height:28px; box-sizing:border-box; font-size:12px; letter-spacing:-0.05em; color:#787878; padding:5px; line-height:18px; }
.sel_basic { border:#b5b5b5 solid 1px; vertical-align:middle; height:28px; box-sizing:border-box; font-size:12px; letter-spacing:-0.05em; color:#787878; padding:5px; line-height:18px; }
.w_date { width:80px; }
.w_month { width:70px; }
.w200px { width:200px; }
.w240px { width:240px; }
.w20pro { width:20%; }
.w100pro { width:100%; }

.notice_mark { color:#555;  margin-top:13px; vertical-align:middle; line-height:22px; }
.notice_mark .mark { background:url("../images/customer/bg_alarm_01.gif") no-repeat left center; display:inline-block; width:12px; height:12px; vertical-align:middle; margin-right:6px;  }
.notice_mark .mark em { font-size:0; visibility:hidden; }
.notice_mark strong { color:#202020; font-weight:bold; vertical-align:middle; }
.notice_mark a { color:#202020; text-decoration:underline; margin-left:8px; font-weight:bold; }
.notice_mark span, .notice_mark a, .notice_mark strong { vertical-align:middle; }

.Notice_top { float:none; width:100%; *zoom:1; margin-top:30px; vertical-align:middle; margin-bottom:10px; }
.Notice_top:after { content:""; display:block; height:0px; clear:both; }
.Not_top_L { float:left; }
.Not_top_L strong, .Not_top_L span { vertical-align:middle; line-height:28px; }
.Not_top_L strong { color:#202020; margin-right:10px; }
.Not_top_L span { color:#838383; }
.Not_top_R { float:right; }
.Not_top_R select { float:left; width:90px; border:#cfcfcf solid 1px; line-height:22px; }
.Not_top_R input { float:left; width:160px; border-top:#cfcfcf solid 1px;  border-bottom:#cfcfcf solid 1px; border-left:#cfcfcf solid 1px; border-right:none; margin-left:10px; }
.Not_top_R button { float:left; width:29px; height:28px; background:url(../images/common/icon_search.gif) no-repeat center 7px; border:#cfcfcf solid 1px; display:inline-block; box-sizing:border-box; }
.Not_top_R em { font-size:0; visibility:hidden;  }
/*클릭 도움말*/
.boxtitle {width: 100%;}
.btn_helpmark { background:url(../images/common/icon_question.png) no-repeat 0 0; width:15px; height:14px; display:inline-block; vertical-align:middle;}
.btn_helpmark em { font-size:0; visibility:hidden; }
.tooltip { position:relative; width: 100%;}
.tooltip .tooltip_box { background:#fff; border:#888 solid 1px; box-shadow:5px 5px 3px rgba(0, 0, 0, 0.3); z-index:1; position:absolute;width:auto;width: 200px; font-weight:normal; font-size:12px;}
.tooltip h3.title { color:#3456b1; font-weight:bold; margin-top: 5px;}
.tooltip h3.titleLine { border-bottom:#939fad solid 2px; color:#3456b1;}
.tooltip .intext { display:block; color:#737373; white-space:normal;word-break:break-all;}
.tooltip em.edge_topcenter { position:absolute; top:0px; left:50%; width:11px; height:6px;background:url(../images/common/bg_layer_edge.gif) no-repeat 0 0; font-size:0;  }
.tooltip .closebtn_s { position:absolute; right:6px; top:6px; background:url(../images/common/btn_tooltip_closed.gif) no-repeat; width:11px; height:11px; display:inline-block; }

/********************************************************* 팝업 layout *********************************************************/
#pop_wrap { }
.pop_titleZone { background:url(../images/common/bg_pop_header.gif) no-repeat 0 0 #09335a; padding:20px 20px 14px; height:68px; box-sizing:border-box; position:relative; }
.pop_titleZone .title { background:url(../images/common/bg_h3_title.gif) no-repeat 0 0; color:#fff; font-family:'NanumBarunL'; font-weight:bold; font-size:20px; padding-top:10px; line-height:1.2; letter-spacing:-0.02em; }
.pop_titleZone .code { font-size:18px; font-weight:normal; margin-left:10px;  }
.pop_titleZone .btn_popclose { position:absolute; right:20px; top:24px;  background:url(../images/common/btn_pop_close.png) no-repeat 0 0; width:17px; height:17px; display:inline-block; }
.pop_titleZone .btn_popclose em { font-size:0; visibility:hidden; }

.p_h2_title_st { background:url(../images/common/bg_h3_title.gif) no-repeat 0 0; color:#202020; font-family:'notokr-regular'; font-size:20px; padding-top:10px; line-height:1.2; margin-bottom:14px;  letter-spacing:-0.07em; font-weight:bold; }
.p_h2_title_st strong {  }

#pop_wrap .pop_container { padding:20px; }

.pop_tb_notice { padding:20px 0; border-bottom:#cfcfcf solid 1px; }


/*회사정보*/
.comLogoExplain { float:none; *zoom:1; margin:5px 0 20px; position:relative; }
.comLogoExplain:after { content:""; display:block; clear:both; height:0; }
.comLogoExplain .comLogo { float:left; width:200px; border:#dbdbdb solid 1px; margin-right:20px; padding:24px 0; text-align:center; box-sizing:border-box; height:91px; }
.comLogoExplain .comLogo.noimage { background:url(../images/Report/logo_noimagse.gif) no-repeat #f3f3f3 center center;  }

.comLogoExplain .comExplain { width:auto; overflow:hidden; }

.com_title { border-bottom:#e0e0e0 solid 3px; padding-bottom:10px; padding-top:3px; margin-bottom:12px; line-height:16px; vertical-align:middle; }
.com_title .comName { font-size:14px; color:#242424; font-weight:bold; margin-right:65px; }
.com_title .comName .comNumber { font-family:Tahoma, Geneva, sans-serif; letter-spacing:0; font-size:12px; font-weight:normal; margin-left:8px; }
.com_title .icon_market { border:#b3b3b3 solid 1px; padding:0 3px; font-size:11px; font-weight:normal; height:14px; display:inline-block; margin-left:9px; letter-spacing:-0.16em; color:#636363; }

.comLogoExplain .com_btnzone { position:absolute; float:none; *zoom:1; right:0px; top:0px; }
.comLogoExplain .com_btnzone:after {  content:""; display:block; clear:both; height:0; }
.comLogoExplain .com_btnzone button { float:left; margin-left:8px; display:inline-block; height:22px; vertical-align:middle; }
.comLogoExplain .com_btnzone button:first-child { margin-left:0px; }
.comLogoExplain .com_btnzone button em { font-size:0; }
.com_btnzone .btn_addcom { background:url(../images/common/btn/btn_com_addcompany.gif) no-repeat; width:79px; }
.com_btnzone .btn_addcom.on { background:url(../images/common/btn/btn_com_addcompany_on.gif) no-repeat; }
.com_btnzone .btn_pool { background:url(../images/common/btn/btn_com_addpool.gif) no-repeat; width:82px; }
.com_btnzone .btn_pool.on { background:url(../images/common/btn/btn_com_addpool_on.gif) no-repeat; }
.com_btnzone .btn_reser { background:url(../images/common/btn/btn_com_reservation.gif) no-repeat; width:62px; }
.com_btnzone .btn_reser.on { background:url(../images/common/btn/btn_com_reservation_on.gif) no-repeat; }

.rate_up {color:#eb3429; font-weight:bold; font-size:12px; }
.rate_down { color:#1261ba; font-weight:bold; font-size:12px; }
.rate_up .arrow em, .rate_down .arrow em { font-weight:normal; margin-left:3px; }
.rate_up .arrow { font-size:12px; background:url(../images/common/icon_up_rate.gif) no-repeat left center; padding-left:10px; }
.rate_down .arrow { font-size:12px; background:url(../images/common/icon_down_rate.gif) no-repeat left center; padding-left:10px; }

/* 회사안내 */
.cominfoList li, .cominfoList span { line-height:18px; vertical-align:middle; letter-spacing:-0.05em; }
.cominfoList span em { font-size:0; visibility:hidden; display:none; }
.cominfoList .icon_homepage a { vertical-align:middle; color:#0a72ca; }
.cominfoList .icon_address { background:url(../images/common/bu_icon_address.gif) no-repeat left center; padding-left:27px; }
.cominfoList .icon_homepage { background:url(../images/common/bu_icon_homepage.gif) no-repeat left center; padding-left:27px;  }
.cominfoList .icon_tell { background:url(../images/common/bu_icon_tell.gif) no-repeat left center; padding-left:27px; letter-spacing:0;  }

/* 회사소개테이블*/
.board_popview_st01 { width:100%; border-top:#223a59 solid 1px; border-bottom:#c6c6c6 solid 1px; color:#555; }
.board_popview_st01 caption { display:none; height:0; width:0; overflow:hidden; }
.board_popview_st01 th { padding:5px 15px; border-top:#d8d8d8 solid 1px; background:#f3f3f3; text-align:left; color:#222; vertical-align:middle; font-size:12px; font-weight:normal; }
.board_popview_st01 td { padding:5px 15px; border-top:#d8d8d8 solid 1px; vertical-align:middle; text-align:left; color:#737373; }
.board_popview_st01 td.doublepd0 { padding:10px 15px 10px 0px; }
.board_popview_st01 tr:first-child th, .board_popview_st01 tr:first-child td { border-top:none; }
.board_popview_st01 .moneyst { text-align:right; letter-spacing:0px; }
.btn_helpmark { background:url(../images/common/icon_question.png) no-repeat 0 0; width:15px; height:14px; display:inline-block; vertical-align:middle; }
.btn_helpmark em { font-size:0; visibility:hidden; }
.busi_cate_list li { line-height:20px; }

/*게시판 버튼모음*/
.bs_BtnBox_c { text-align:center; margin-top:30px; }
.bs_BtnBox_r { text-align:right; height:30px; margin-top:30px; }
.bs_BtnBox_r a { margin-left:10px; }
.bs_BtnBox_r a:first-child { margin-left:0px; }
.bs_BtnBox_both { height:30px; margin-top:30px; float:none; *zoom:1; }
.bs_BtnBox_both:after { content:""; display:block; height:0px; clear:both;  }
.bs_BtnBox_both .leftzone { float:left;  }
.bs_BtnBox_both .rightzone { float:right;  }

/* .btnPageZoneWrap + .bs_BtnBox_r { margin-top:-30px; }
.btnPageZoneWrap + .bs_BtnBox_both { margin-top:-30px; } */
/*게시판 페이지 btn*/
.btnPageZoneWrap { text-align:center; margin-top:30px; height:30px; }
.btnPageZone { float:none; *zoom:1; display:inline-block; }
.btnPageZone:after { content:""; display:inline-block; clear:both; height:0; }
.btnPageZone button { float:left; box-sizing:border-box; border-top:#ddd solid 1px; border-bottom:#ddd solid 1px; display:inline-block; }
.btnPageZone button em { font-size:0; visibility:hidden; }

.btnPageZone button.pre_end_btn { background:url(../images/common/btn_bs_pre.gif) no-repeat center center; border-left:#ddd solid 1px; width:32px; height:30px; }
.btnPageZone button.pre_btn { background:url(../images/common/btn_bs_pre2.gif) no-repeat center center;  border-left:#ddd solid 1px; border-right:#ddd solid 1px; margin-right:15px; width:30px; height:30px; }
.btnPageZone button.next_end_btn { background:url(../images/common/btn_bs_next.gif) no-repeat center center; width:30px; height:30px; border-right:#ddd solid 1px; }
.btnPageZone button.next_btn { background:url(../images/common/btn_bs_next2.gif) no-repeat center center; margin-left:15px; border-right:#ddd solid 1px; border-left:#ddd solid 1px; width:32px; height:30px; }

.btnPageZone span { float:left; }
.btnPageZone span a { font-size:12px; vertical-align:middle; line-height:30px; width:30px; height:30px; border-top:#ddd solid 1px; border-bottom:#ddd solid 1px; border-right:#ddd solid 1px; display:inline-block; text-align:center; box-sizing:border-box; }

.btnPageZone span.first a { border-left:#dadada solid 1px; }
.btnPageZone span.current a { color:#ffffff; background-color:#585858; border:#343434 solid 1px; }

.btnPageZoneWrap + .bs_BtnBox_r { margin-top:-30px; }
.btnPageZoneWrap + .bs_BtnBox_both { margin-top:-30px; }
