@charset "utf-8";

@import url('../css/default.css');
@import url('../css/layoutFront.css');
@import url('../css/common.css');
@import url('../css/contents.css');
@import url('../css/font.css');
@import url('../css/jquery.bxslider.css');
@import url('../css/typography.css');

/* print style */
@media print {

header, footer { display:none; }
#snb, #location { display:none; }
.resolution { display:none; }
.con_title_zone { display:none; }

}
